In [2]:
# in order to inspect the time I started the project\
# you can inspect the commit history on github. 
# I also experiment with start and end times in the following lines

In [3]:
# i will import the same libraries used for my 550 project 
# this is to save time for analysis. 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [9]:
# adding the dta files to the prohect folder and importing 
ra_data = pd.read_stata('RA_merge_exercise.dta')
industry_data = pd.read_stata('ntmaj10_merge_exercise.dta')

In [11]:
# inspecting missing values 
ra_data.head()

,returnts,zipcd,returntypecd,ein,irs990totalassetsboyamt,irs990revenueamt,year
0,2017-11-27T12:07:15-06:00,19110,990EZ,112642391,NaN,NaN,2015.0
1,2018-01-17T07:35:17-08:00,19063,990EZ,112769918,NaN,NaN,2015.0
2,2018-05-08T09:57:45-05:00,19087,990PF,113202308,NaN,NaN,NaN
3,2018-11-15T10:19:57-05:00,19020,990EZ,113398321,NaN,NaN,2015.0
4,2018-02-26T10:01:32-06:00,19129,990EZ,113625329,NaN,NaN,2015.0

In [12]:
industry_data.head()

         ein ntmaj10
0  100007967      ED
1  100727381      HU
2  100817874      AR
3  100898048      HE
4  100914983      HE

In [13]:
# converting to CSV files to inspect the data
import pandas as pd

# Load the datasets
ra_data = pd.read_stata('RA_merge_exercise.dta')
industry_data = pd.read_stata('ntmaj10_merge_exercise.dta')

# Convert and save as CSV
ra_data.to_csv('RA_merge_exercise.csv', index=False)
industry_data.to_csv('ntmaj10_merge_exercise.csv', index=False)

In [ ]:
# making a note that I briefly launched stata and used the browse function to
# verify that the the csv data mapped to the .dta files